APP_NAME= 'temu_medis'
POSTGRES_DB= 
POSTGRES_USER= 
POSTGRES_PASSWORD= 
DATABASE_URL="postgres://root:root@localhost:5432/temumedis"
NODE_ENV = "development"

REFRESH_TOKEN_SECRET = "DSJHAFJHSHKDSADASDSJKADHKSJANDSA2173219HNDSIAUBDN98281H"
ACCESS_TOKEN_SECRET = "DSJHAFJHSHKDSADASDSJKADHKSJANDSA2173219HNDSIAUBDN98281H"

REDIS_HOST = 127.0.0.1
REDIS_PORT = "6379"
REDIS_PASSWORD = "DdlHX2M3KSlQGpph96e+vmuBrA7PWdpziPoJObbTnSqNmTYW25PmcYq7H0edhigC0Mi24rwJ06b4N/9i%"

MONGO_DB_LOG=
MONGO_USERNAME= 
MONGO_PASSWORD= 
MONGO_LOG_URL= "mongodb://user:pass@mongodb:27017/"
PORT='3000'
